<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>Website Bán Hàng</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav
      class="navbar bg-dark border-bottom border-body navbar-expand-lg"
      data-bs-theme="dark"
    >
      <div
        class="container-fluid d-inline-flex align-items-center"
        style="padding-left: 40px"
      >
        <a class="navbar-brand text-light" th:href="@{/products}">Home</a>
        <a class="navbar-brand text-light" th:href="@{/products/add}"
          >Products</a
        >
        <a class="navbar-brand text-light" th:href="@{/cart}">Cart</a>

        <form
          class="form-inline d-flex justify-content-start ms-auto"
          th:action="@{/products/search}"
          method="get"
        >
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            name="key"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div layout:fragment="content" class="container mt-4"></div>
  </body>
</html>
